<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Form</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background-color: #c4dafc;">
    <!--navbar-->
    <div th:replace="base :: navlinks"></div>


    <div class="container">

        <div th:replace="base :: header"></div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="text-align: center;">
                <h4>ADD A CAR</h4>
                <form action="#" th:action="@{/process_car}" th:object="${car}" enctype="multipart/form-data" method="post">
                    <input type="hidden" th:field="*{carID}">

                    Manufacturer: <input type="text" th:field="*{manufacturer}"><br />
                    <span th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></span><br />

                    Model: <input type="text" th:field="*{model}"><br />
                    <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></span><br />

                    Year: <input type="text" th:field="*{year}"><br />
                    <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span><br />

                    MSRP: <input type="text" th:field="*{msrp}"><br />
                    <span th:if="${#fields.hasErrors('msrp')}" th:errors="*{msrp}"></span><br />

                    Category:
                    <select name="category" th:field="*{category}">
                        <option th:each="category : ${categorys}"
                                th:value="${category.categoryID}"
                                th:text="${category.categoryName}"></option>
                    </select>
                    <br />

                    Image:
                    <input type="file" name="file" /><br /><br />

                    <input type="submit" value="Submit">

                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>





    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>